<div class="hero-section">
	          		<div class="hero-text mdl-typography--text-center">

	          			{# Logo #}
	          			<img class="racoon" src="{{asset('img/COwhite.png')}}" alt="smth"/>
	          			<p></p>
	          			{# Title : img #}
	          			<img id="title_CO" src="{{asset('img/COtitle.png')}}" alt="smth"/>
	            		{# Slogan #}
	            		<p class="mdl-typography--display-1 century">
	            			Soyons connectés pour collecter !
	            		</p>
				

	            		{# CARD début inscription #}
						<div class="demo-card-wide mdl-card mdl-shadow--3dp ">

							{# Titre #}
							<div class="mdl-card__title ">
				    			<h2 class="mdl-card__title-text greenCO century">Rejoignez le mouvement</h2>
				  			</div>

				  			{# Content #}
				  			<div class="mdl-card__supporting-text">
				    			<div class="mdl-grid">
									
									{# Champs #}
									<div class="mdl-cell mdl-cell--9-col">
						     			<form action="#">
										  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
										  	{# Adresse mail #}
										    <input class="mdl-textfield__input" type="text" id="sample3">
										    <label class="mdl-textfield__label" for="sample3">Adresse mail</label>
										  </div>
										</form>
						    		</div>
						    		{# ./end champs #}
						    		{# Bouton #}
					    			<div class="mdl-cell mdl-cell--3-col">
									    <a>
										    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored ">
												M'inscrire
											</button>
								    	</a>
									</div>
				  				</div>
							</div> {# ./end content #}
						</div> {# ./end CARD #}
						
						{# Flèche fin de section /!\ Ajouter un petit glissement JS#}
			            <a class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--accent hero__text-button" 
			            data-scroll-to ="section_collect-on" href="#section_collect-on">
			            	<i class="material-icons">keyboard_arrow_down</i>
			            </a>

			        </div> {# /.hero-text #}

	        	</div>