 <section id="section_suivez-nous">
        	<h2>Suivez-nous !</h2>

        	<div class="mdl-grid">
        		{# Réseaux sociaux + petites pubs #}
				<div class="mdl-cell mdl-cell--4-col">
					{# fb #}<a href="https://www.facebook.com/CollectOnApp/"><i class="fa fa-facebook-square fa-3x"></i></a>
	  				{# insta #}<a href="https://www.instagram.com/collectonapp/"><i class="fa fa-instagram fa-3x"></i></a>
	  				{# twitter #}<a href="https://twitter.com/CollectOnApp"><i class="fa fa-twitter-square fa-3x"></i></a>
	  				

	  				{# Venez votez pour CGI please ! 
	  				<div class="demo-card-wide mdl-card mdl-shadow--2dp">
					  <div class="mdl-card__title">
					    <h2 class="mdl-card__title-text">Votez pour nous</h2>
					  </div>
					  <div class="mdl-card__supporting-text">
					    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					    Mauris sagittis pellentesque lacus eleifend lacinia...
					  </div>
					  <div class="mdl-card__actions mdl-card--border">
					    <a href="" target="_blank" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
					      Voter
					    </a>
					  </div>
					</div>#}

				</div>

				{# Côté "devenez partenaires" #}
		        <div class="mdl-cell mdl-cell--7-col mdl-cell--1-offset">
		        	
		        	
<div class="ehoh">
					<div class="demo-card-wide mdl-card mdl-shadow--2dp">
					  <div class="mdl-card__title">
					    <h2 class="mdl-card__title-text">Devenez partenaires</h2>
					  </div>
					  <div class="mdl-card__supporting-text">
					    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					    Mauris sagittis pellentesque lacus eleifend lacinia...
					  </div>
					  <div class="mdl-card__actions mdl-card--border">
					    <a href="" target="_blank" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
					      GO
					    </a>
					  </div>
					</div>

		        </div>
        	</div>
        </div>
        </section>