<!DOCTYPE html>
<html>
    {# Head #}
    <head>

        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('img/COico.png') }}" />


        {# LIENS CSS JS & cie #}
        {# Material Design #}
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
        <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.teal-deep_orange.min.css" /> 

        {# Fontawesome icons : mais y'a déjà des icones avec mdl, un peu useless #} 
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        
        {# Et ça c'est à nous #} {# pioche dans le dossier Collect-On-Web/web/#}
        <link rel="stylesheet" href="{{ asset('css/stylesheet.css') }}"/>  
        <script src="{{ asset('js/vendor/jquery.js') }}"></script>
        <script src="{{ asset('js/script.js') }}"></script>

    </head>


    <body class="mdc-typography">
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
